@import '../../src/scss/components/vars';

.blog-post {
  &.first, &.third {
    color: $white;
    background-color: rgb(8, 51, 99);
    padding: 246px 0 80px;
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 100%);

    @media (max-width: $lg) {
      padding: 150px 0 60px;
      clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    }

    @media (max-width: $sm) {
      clip-path: none;
      padding: 40px 0;
    }
  }

  &.second {
    padding: 112px 0 127px;
    background-image: url("../../../img/post-bg.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    @media (max-width: $lg) {
      padding: 80px 0;
    }

    @media (max-width: $md) {
      padding: 60px 0;
    }

    @media (max-width: $sm) {
      padding: 40px 0;
    }

    .content {
      padding-left: 47px;
      padding-top: 5px;
      max-width: 520px;

      @media (max-width: $xl) {
        padding: 0;
      }

      @media (max-width: $lg) {
        max-width: 100%;
      }

      h3 {
        color: $bluealliance-darker;
        max-width: 410px;
      }
    }

    .image {
      margin-left: 45px;

      @media (max-width: $lg) {
        margin-left: 0;
      }
    }
  }

  &.third {
    clip-path: polygon(0 23%, 100% 0, 100% 100%, 0 100%);
    padding: 235px 0 105px;

    @media (max-width: $lg) {
      padding: 150px 0 60px;
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }

    @media (max-width: $sm) {
      clip-path: none;
      padding: 40px 0;
    }

    .section-holder {
      flex-direction: row-reverse;

      @media (max-width: $lg) {
        flex-direction: column;
      }
    }

    .content {
      padding-left: 0;
      max-width: 547px;

      @media (max-width: $lg) {
        max-width: 100%;
      }
    }

    .image {
      margin-left: 0;
      margin-right: 40px;

      @media (max-width: $lg) {
        margin-right: 0;
        margin-top: 40px;
      }
    }
  }

  .section-holder {
    display: flex;

    @media (max-width: $lg) {
      flex-direction: column;
    }
  }

  .content {
    width: 100%;
    max-width: 503px;
    padding-left: 4px;

    @media (max-width: $xl) {
      padding-left: 0;
    }

    @media (max-width: $lg) {
      max-width: 100%;
    }

    h3 {
      margin-bottom: 13px;
      max-width: 400px;

      @media (max-width: $lg) {
        max-width: 100%;
      }
    }

    .excerpt {
      font-size: 18px;
      line-height: 28px;

      @media (max-width: $sm) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    .primary-btn {
      margin-top: 22px;
      min-width: 171px;

      @media (max-width: $sm) {
        min-width: 0;
      }
    }
  }

  .image {
    margin-left: 75px;
    padding-top: 5px;
    max-width: 500px;

    @media (max-width: $xl) {
      padding-top: 0;
    }

    @media (max-width: $lg) {
      margin-left: 0;
      margin-top: 40px;
    }

    img {
      display: block;
      width: 100%;
      transition: transform 0.15s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.page-business-operations .blog-post.second {
  background-image: url("../../../img/post-bg-2.jpg");

  .content {
    .primary-btn {
      background-color: $orange;
      border-color: $orange;

      &:hover {
        background-color: rgba(0,0,0,0);
        color: $orange;
      }
    }
  }
}